# Part A

In this part A I am going to follow certain instructions.

## Download and Clean Dataset

First we should download our data and clean it so we can use it properly.

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
#this part is for gpu run in jupyter check. If you just use cpu based jupyter notebook, you can skip this.
tf.test.is_gpu_available(
    cuda_only=False, min_cuda_compute_capability=None
)

True

Since I have to use lower version of tensorflow in my computer I must put os.envirson to remove deprecated warnings.

## Check Data

Next, I should download data and check it.

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

We should check this data shape.

In [4]:
concrete_data.shape

(1030, 9)

So, there are almost 1000 datas. We have to see more.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In conclusion, this data is already clean enough to use.

## Split session

Now, we have to split this data to predictors and target.

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's check this before we go on to next step.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In this Part A, we are not going to normalize our data so we have to move on and check the number of predictors.

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# Import Keras and make regression model

In [11]:
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense
sess = tf.compat.v1.Session(config=tf.compat.v1.ConfigProto(log_device_placement=True))

Using TensorFlow backend.

In an assignment instruction, 

we must set 'One hidden layer of 10 nodes, and a ReLU activation function' and 

'Use the adam optimizer and the mean squared error  as the loss function.'

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    #layer 10 , relu activation
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

And also, we must split our datas and set your test, train sets.

In [13]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

Next, it is time to build the model and fit datas into it.

In instruction, ephochs must be 50.

In [14]:
model = regression_model()

In [15]:
#fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

Epoch 1/50
721/721 [==============================] - 0s 504us/step - loss: 29726.9072
Epoch 2/50
721/721 [==============================] - 0s 44us/step - loss: 5645.7639
Epoch 3/50
721/721 [==============================] - 0s 44us/step - loss: 765.6854
Epoch 4/50
721/721 [==============================] - 0s 41us/step - loss: 467.5458
Epoch 5/50
721/721 [==============================] - 0s 40us/step - loss: 390.2551
Epoch 6/50
721/721 [==============================] - 0s 41us/step - loss: 324.5454
Epoch 7/50
721/721 [==============================] - 0s 40us/step - loss: 276.1373
Epoch 8/50
721/721 [==============================] - 0s 47us/step - loss: 241.4401
Epoch 9/50
721/721 [==============================] - 0s 41us/step - loss: 212.8448
Epoch 10/50
721/721 [==============================] - 0s 43us/step - loss: 194.2059
Epoch 11/50
721/721 [==============================] - 0s 40us/step - loss: 178.1152
Epoch 12/50
721/721 [==============================] - 0s 44us/step - loss: 167.0822
Epoch 13/50
721/721 [==============================] - 0s 41us/step - loss: 158.2993
Epoch 14/50
721/721 [==============================] - 0s 43us/step - loss: 149.2231
Epoch 15/50
721/721 [==============================] - 0s 39us/step - loss: 143.3053
Epoch 16/50
721/721 [==============================] - 0s 43us/step - loss: 138.9782
Epoch 17/50
721/721 [==============================] - 0s 43us/step - loss: 134.5909
Epoch 18/50
721/721 [==============================] - 0s 39us/step - loss: 132.4520
Epoch 19/50
721/721 [==============================] - 0s 39us/step - loss: 129.4829
Epoch 20/50
721/721 [==============================] - 0s 44us/step - loss: 127.6005
Epoch 21/50
721/721 [==============================] - 0s 43us/step - loss: 125.4037
Epoch 22/50
721/721 [==============================] - 0s 41us/step - loss: 125.1933
Epoch 23/50
721/721 [==============================] - 0s 42us/step - loss: 124.1277
Epoch 24/50
721/721 [==============================] - 0s 46us/step - loss: 126.6887
Epoch 25/50
721/721 [==============================] - 0s 41us/step - loss: 122.5826
Epoch 26/50
721/721 [==============================] - 0s 46us/step - loss: 121.1091
Epoch 27/50
721/721 [==============================] - 0s 41us/step - loss: 120.6538
Epoch 28/50
721/721 [==============================] - 0s 40us/step - loss: 120.1952
Epoch 29/50
721/721 [==============================] - 0s 43us/step - loss: 120.6192
Epoch 30/50
721/721 [==============================] - 0s 40us/step - loss: 121.1002
Epoch 31/50
721/721 [==============================] - 0s 40us/step - loss: 119.3664
Epoch 32/50
721/721 [==============================] - 0s 40us/step - loss: 119.0320
Epoch 33/50
721/721 [==============================] - 0s 43us/step - loss: 118.6138
Epoch 34/50
721/721 [==============================] - 0s 39us/step - loss: 118.7464
Epoch 35/50
721/721 [==============================] - 0s 43us/step - loss: 119.4929
Epoch 36/50
721/721 [==============================] - 0s 40us/step - loss: 118.2703
Epoch 37/50
721/721 [==============================] - 0s 40us/step - loss: 118.0746
Epoch 38/50
721/721 [==============================] - 0s 43us/step - loss: 117.5397
Epoch 39/50
721/721 [==============================] - 0s 41us/step - loss: 117.3633
Epoch 40/50
721/721 [==============================] - 0s 41us/step - loss: 116.9993
Epoch 41/50
721/721 [==============================] - 0s 40us/step - loss: 119.8452
Epoch 42/50
721/721 [==============================] - 0s 40us/step - loss: 117.5020
Epoch 43/50
721/721 [==============================] - 0s 43us/step - loss: 118.0690
Epoch 44/50
721/721 [==============================] - 0s 44us/step - loss: 117.9549
Epoch 45/50
721/721 [==============================] - 0s 41us/step - loss: 116.7023
Epoch 46/50
721/721 [==============================] - 0s 41us/step - loss: 115.9489
Epoch 47/50
721/721 [==============================] - 0s 43us/step - loss: 116.4287
Epoch 48/50
721/721 [==============================] - 0s 43us/step - loss: 114.8832
Epoch 49/50
721/721 [==============================] - 0s 41us/step - loss: 114.8695
Epoch 50/50
721/721 [==============================] - 0s 43us/step - loss: 115.0408
309/309 [==============================] - 0s 81us/step

112.04695425681697

As you can see, epoch 50/50 is finally done easily due to gpu option in tensorflow-gpu.

# Mean and the standard deviation of the mean squared errors

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

112.04695668434478 0.0

We have to make a list of MSE. So we use for loop to append elements to a list and print its value.

In [18]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 91.24319877747965
MSE 2: 111.39767305442045
MSE 3: 95.62461161690622
MSE 4: 84.32820596046818
MSE 5: 79.56697561517117
MSE 6: 71.61512869924404
MSE 7: 75.74187625033184
MSE 8: 53.456435688105216
MSE 9: 51.722187696537155
MSE 10: 52.89047102943593
MSE 11: 51.44308991416759
MSE 12: 51.89964568499222
MSE 13: 64.64854270663461
MSE 14: 57.9405350916594
MSE 15: 49.62630304626662
MSE 16: 43.83727094039176
MSE 17: 53.953848323389934
MSE 18: 50.51626815302087
MSE 19: 44.98947197874001
MSE 20: 46.9961271193421
MSE 21: 43.05403250783778
MSE 22: 44.02885453060607
MSE 23: 44.08860301045538
MSE 24: 55.01874858275972
MSE 25: 51.148458820330674
MSE 26: 47.81609813603769
MSE 27: 46.53326572800917
MSE 28: 44.90762511811982
MSE 29: 54.623985636195705
MSE 30: 45.45265990939341
MSE 31: 58.469949061816564
MSE 32: 41.76193095951019
MSE 33: 46.818253254813285
MSE 34: 46.288960132784055
MSE 35: 50.37625072689118
MSE 36: 52.581371665386705
MSE 37: 46.818750060491965
MSE 38: 52.14961771054561
MSE 39: 45.239298848272526
MSE 40: 46.626511546014584
MSE 41: 52.18064432236755
MSE 42: 42.68020028666771
MSE 43: 55.25015068671464
MSE 44: 49.40082167344572
MSE 45: 49.25048186169473
MSE 46: 47.79092435620749
MSE 47: 54.09824925641797
MSE 48: 50.719111667867615
MSE 49: 45.9184029773601
MSE 50: 48.29996939847384


Mean: 54.85660058384991
Standard Deviation: 14.510661804336413